<!DOCTYPE html>
<html>
<head>
{% include 'base.html' %}
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/static/jquery.tablesorter.min.js"></script>
{% load compress %}
{% compress js %}
<script type="text/javascript" src="/static/tables.js"></script>
{% endcompress %}
<title>Package Overview</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="wrapper text-center">
        <h1 class="">
          LCG Software Elements
        </h1>
        <div class="btn-group" role="group" aria-label="...">
          <button class="btn btn-default active" id="configurations_button" onclick="showConfigurations()">
            LCG Configurations
          </button>
          <button class="btn btn-default" id="packages_button" onclick="showPackages()">
            Packages
          </button>
        </div>
      </div>
    </div>
    <hr />
    <div id="configurations">
      <div class="row">
        <h3>LCG Configurations</h3>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped table-condensed" id="releases_table">
            <thead>
              <tr>
                <th class=col2 style="width: 12%; ">
                  release
                  <a href="#" onclick="$('#releases_table').trigger('sorton', [[[0,0]]]); return false;">▲</a>
                  /
                  <a href="#" onclick="$('#releases_table').trigger('sorton', [[[0,1]]]); return false;">▼</a>
                </th>
                <th class=col2 style="width: 20%;">
                  release date
                  <a href="#" onclick="$('#releases_table').trigger('sorton', [[[1,0]]]); return false;">▲</a>
                  /
                  <a href="#" onclick="$('#releases_table').trigger('sorton', [[[1,1]]]); return false;">▼</a>
                </th>
                <th class=col2>description</th>
              </tr>
            </thead>
            {% for item in releases|dictsortreversed:"version" %}
              <tr>
                <td class=col3 style="width: 25%; vertical-align: top;">
                  <b>
                    <a href="{% url 'relinfo.views.release' item.version %}">
                      {{item.version}}
                    </a>
                  </b>
                </td>
                <td style="width: 25%; vertical-align: top;">
                  {{item.date|date:"M d, Y"}}
                </td>
                <td style="width: 50%;">
                  {{item.description}}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div id="packages" style="display: none;">
      <div class="row">
        <h3>LCG Packages</h3>
      </div>
      <div class="row">
        <nav class="wrapper text-center" aria-label="Page navigation">
          <ul id="paginator" class="pagination">
            <li>
              <a onclick="packageManager.goBack(); return false;" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li>
              <a onclick="packageManager.goTo($('#paginator li:nth-child(2) a').text()); return false;"
                 href="#">
                 1
              </a>
            </li>
            <li>
              <a onclick="packageManager.goTo($('#paginator li:nth-child(3) a').text()); return false;"
                 href="#">
                2
              </a>
            </li>
            <li>
              <a onclick="packageManager.goTo($('#paginator li:nth-child(4) a').text()); return false;"
                 href="#">
                 3
              </a>
            </li>
            <li>
              <a onclick="packageManager.goTo($('#paginator li:nth-child(5) a').text()); return false;"
                 href="#">
                 4
              </a>
            </li>
            <li>
              <a onclick="packageManager.goTo($('#paginator li:nth-child(6) a').text()); return false;"
                 href="#">
                 5
              </a>
            </li>
            <li>
              <a onclick="packageManager.goForward(); return false;" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="input-group">
            <input id="filter_input" class="form-control" placeholder="Search" type="text" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table class="table table-striped table-condensed" id="packages_table">
            <thead>
              <tr>
                <th class=col2>
                  package
                  <a href="#" onclick="packageManager.orderBy('name'); return false;">▲</a>
                  /
                  <a href="#" onclick="packageManager.orderBy('-name'); return false;">▼</a>
                </th>
                <th style="padding-right: 20px;"class=col2 nowrap>
                  category
                  <a href="#" onclick="packageManager.orderBy('category'); return false;">▲</a>
                  /
                  <a href="#" onclick="packageManager.orderBy('-category'); return false;">▼</a>
                </th>
                <th class=col2>language</th>
                <th class=col2>
                  release
                </th>
                {% if compare %}
                  <th class=col2>release{{ compare }}</th>
                {% else %}
                {% endif %}
                <th class=col2>contacts</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
