<html>

<head>
  <meta http-equiv="Content-Language" content="en-us">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <title> {{ tag.package.name }}-{{tag.name}} Overview</title>
  {% include 'base.html' %}
</head>
<body>
  <div class="container">
    <div class="wrapper text-center">
      <h1 class="">
        LCG Software Elements
      </h1>
    </div>

    <div class="row">
      <hr/>
      <ol class="breadcrumb">
        <li>
          <a href="{% url 'relinfo.views.allreleases' %}">
            Main
          </a>
        </li>
        <li>
          <a href="{%url 'relinfo.views.package' tag.package.name %}">
            {{tag.package.name}}
          </a>
        </li>
        <li> {{tag.name}}</li>
      </ol>
      <hr/>
    </div>

    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Description:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ tag.package.description }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Homepage:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <a {% if tag.package.homepage %} href="{{ tag.package.homepage }}" {% endif %}>
          {{ tag.package.homepage }}
        </a>
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Documentation:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        None
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Category:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ tag.package.get_category_display }}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Language:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {{ tag.package.get_language_display }}
      </div>
    </div>
    {% load extras %}
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Releases:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1" style="margin-bottom: 10px">
        {% for rel in tag|getDistinctReleasesForTag %}
          <!-- Don't break the line. It is neccesary for formatting -->
          <b><a href="{% url 'relinfo.views.release' rel.version%}">{{rel.version}}</a></b>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4 style="display: inline-block;">
          Dependencies
        </h4>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 10px">
            {{ release }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% for rel in tag|getDistinctReleasesForTag%}
              <li>
                <a href="{% url 'relinfo.views.tag' tag.package.name tag.name %}?release={{rel.version}}">
                  {{rel.version}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <h4 style="display: inline-block;">
          :
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {% for t in release|getDependenciesForReleaseAndTag:tag.id %}
          <!-- Don't break the line. It is neccesary for formatting -->
          <a href="{% url 'relinfo.views.tag' t.0 t.1 %}"><b>{{t.0}}-{{t.1}}</b></a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Contacts:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        {% for contact in tag.package.contacts.all %}
          <!-- Don't break the line. It is neccesary for formatting -->
          <a href="mailto:{{ contact }}">{{ contact }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="row vcenter col-md-offset-2">
      <div class="col-md-3">
        <h4>
          Sources:
        </h4>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <a href="http://cern.ch/service-spi/external/{{package.get_src_URL}}">
          {{tag.get_src_URL}}
        </a>
      </div>
    </div>
  </div>
</body>

</html>
